body {
  background-color: #292d37;
  font-family: sans-serif;
  letter-spacing: .025rem;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #434741;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* min-height: 100vh; */
  background-color: #42362d;
}

main {
  padding: 10px;
  height: 50vh;
  /* margin: 10vh 0 10vh; */
  margin-top: 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #563e2b;
}

main::-webkit-scrollbar-thumb {
  background: #8c6d25;
}


form {
  height: 10vh;
  /* position: fixed;
  bottom: 26.5vh; */
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}


form button {
  width: 20%;
  background-color: rgb(68, 107, 147);
}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: rgb(91, 91, 91); /*#282c34; /* Green */
  border: none;
  color: rgba(255, 255, 255, .9);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul, li {
  text-align: left;
  list-style: none;
}

.chatMessage {
  max-width: 350px;
}

.chatBody {
  max-width: 500px;
  margin-bottom: 8px;
  line-height: 24px;
  padding: 3px 15px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  word-break: break-all;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent .chatBody {
  color: white;
  background: #4170b7;
  align-self: flex-end;
  margin-top: .3em;
}
.nickname {
  color: white;
  padding: 0 1em;
  text-align: left;
  margin-bottom: 0;
  font-size: .8rem;
}
.sent .nickname  {
  text-align: right;
}
.received .chatBody {
  background: #e6e3cf;
  color: black;
  margin-top: .3em;
}
img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
.sendChatMessage {
  font-size: 2rem;
}
.endOfChat {
  color: white;
}
