* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 0.025rem;
  color: rgba(255, 255, 255, 0.684);
  background-color: black;
  font-size: 16px;
}
input {
  font-size: 16px;
}
.page-body {
  color: rgba(0, 0, 0, 0.7);
  /* background-color: rgb(212, 212, 212); */
  background-color: white;
  max-width: 100vw;
  padding-top: 76px;
  padding-bottom: 5em;
  min-height: 90vh;
  animation-name: pageAnimation;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}
@keyframes pageAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
header {
  position: fixed;
  z-index: 10;
}
.header {
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.85);
  color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  display: flex;
  vertical-align: center;
  border-bottom: 1px solid rgb(62, 166, 255);
  padding: 0 1em;
  justify-content: space-between;
  height: 75px;
}
.menu-container {
  display: flex;
  vertical-align: center;
  align-items: center;
  gap: 1em;
}
.menu-container a {
  text-decoration: none;
}
.footer-email {
  font-weight: 400;
}
header h1 {
  cursor: pointer;
}
.bell {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.75rem;
  padding-right: 0.25em;
}
textarea:focus,
input:focus {
  outline-width: 0;
}

.nav-title {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}
.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}
hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.027);
  border-top: 1px solid rgba(255, 255, 255, 0.198);
  width: 100%;
}
textarea {
  font-size: 16px;
  background: transparent;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  resize: none;
  border: none;
}
.mini-defaultPic {
  border: 1px solid rgba(62, 166, 255, 0.9);
  height: 25px;
  width: 25px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 5em;
  object-fit: cover;
  cursor: pointer;
}
.m-dp-size {
  height: 35px;
  width: 35px;
}
/* ------------------------------------------------ */
.time {
  display: flex;
  gap: 1em;
  margin-bottom: 0 auto;
  align-self: center;
  margin: 0;
  justify-content: right;
}
.create-comment {
  padding: 0.5em;
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 0.5em;
}
form {
  background-color: rgba(24, 23, 23, 0.5);
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}
label {
  margin-bottom: 0.5em;
}
/* ########################################## */
/* ############ R E G I S T E R ############# */
/* ########################################## */
.form-email {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
input {
  margin-bottom: 2em;
  height: 2em;
  border-radius: 3px;
  padding-left: 0.6em;
  border: none;
}
.fileTypeInput {
  padding: 0;
}
/* ########################################### */
/* ############# P R O F I L E  ############## */
/* ########################################### */
.profile-jumbotron {
  margin: 3em 0;
  gap: 3em;
}
.profile-span-edit {
  margin-left: -50px;
}
.editProfile-body {
  margin-top: 5em;
}
.edit-profile-section {
  display: flex;
  max-width: 100vw;
  margin-bottom: 2.5em;
  align-items: center;
  flex-direction: column;
}
.save-cancel-edit-profile {
  justify-content: center;
  display: flex;
  gap: 3em;
}
.edit-about-textarea {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 1em;
}
/* ############################################ */
/* ################## P O S T ################# */
/* ############################################ */
.post-container,
.post-page-post-container {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.8);
  margin: 2em 0 0 0;
  border-radius: 3px;
}
.post-container:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}
.post-header {
  display: flex;
  margin-top: 1em;
}
.create-post-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.create-post-form label {
  margin: 1em 0 0 0;
  padding-left: 0.1em;
}
.create-post-form textarea {
  padding-top: 1em;
}
.post-author {
  margin-left: 1.5em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
.linkPost {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.2em 1em;
  color: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

/* ############################################ */
/* ############# H O M E P A G E  ############# */
/* ############################################ */
.homepage-post {
  overflow: hidden;
  transition: 0.2s;
}
.profile-link {
  cursor: pointer;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}
.post-link {
  color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.1em 0.5em;
  border-radius: 3px;
  margin: 1em 0;
}

/* ############################################ */
/* ############## C O M M E N T ############### */
/* ############################################ */
.container-comment {
  display: flex;
  margin: 1em 0;
  border-radius: 3px;
  border: 1px solid black;
}
.comment-options-toggler {
  font-size: 1.5rem;
  margin: auto;
  transition-delay: 0.2s;
  cursor: pointer;
}
.submit {
  color: white;
  background: rgba(62, 166, 255, 0.9);
  display: block;
  width: 100%;
  margin: auto;
  padding: 0.5em 0.8em;
  border-radius: 3px;
  letter-spacing: 0.07rem;
}
/* ############################################ */
/* ################ R E P L Y ################# */
/* ############################################ */
.reply-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.reply-btns {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}
.cancel-reply {
  border: none;
  background: none;
  color: lightgray;
  cursor: pointer;
}
/* ############################################ */
/* #######  N O T I F I C A T I O N S  ######## */
/* ############################################ */
.notifications {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid rgb(62, 166, 255); */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-align: center;
  overflow: scroll;
}
.notification {
  color: rgba(0, 0, 0, 0.8);
  z-index: 15;
  position: fixed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 1);
  padding: 0 2.5em 2.5em 2.5em;
  font-size: 0.8rem;
  text-align: left;
  border-radius: 3px;
  top: 15vh;
}
.notification-num {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(62, 166, 255, 1);
  text-shadow: -1px 1px 1px black;
  font-size: 0.7rem;
  margin-left: -5px;
  padding: 0 0.3em;
  border-radius: 3em;
}
.close-notify {
  background-color: rgb(62, 166, 255);
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.25em 0.8em;
  letter-spacing: 0.07rem;
  font-size: 0.8rem;
}
.notifications p {
  font-size: 0.7rem;
  width: 80%;
  margin-left: 10%;
  padding: 1em 0;
}
.notifyGo {
  font-size: 0.8rem;
  height: 100%;
  align-self: center;
  margin-right: 10%;
  background: rgb(62, 166, 255);
  border: none;
  color: white;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}
/* ################################################### */
/* ##############   S E T T I N G S   ################ */
/* ################################################### */
.settings-title {
  margin: 3em 0 0 0;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.settings-buttons {
  display: flex;
  flex-direction: column;
  top: 90px;
  right: 15px;
  margin: 0;
  border-radius: 3px;
  padding: 1em;
  gap: 1em;
  background: white;
  position: absolute;
  z-index: -1;
  user-select: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
/* ################################################### */
/* ############   A N I M A T I O N S   ############## */
/* ################################################### */
/* flashing */
@keyframes targetAlert {
  from {
    padding-left: 10px;
    background-color: rgba(62, 166, 255, 0.35);
  }
  to {
    padding-left: 10px;
    background-color: rgba(62, 166, 255, 0.15);
  }
}
.flashing-animation {
  animation-name: targetAlert;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
/* gradual open */
.gradual-open-animation {
  overflow-x: hidden;
  animation-name: openReplyAnimation;
  animation-duration: 1.05s;
  animation-iteration-count: 1;
}
@keyframes openReplyAnimation {
  from {
    max-height: 0vh;
  }
  to {
    max-height: 300vh;
  }
}
/* gradual close */
.gradual-close-animation {
  overflow-x: hidden;
  animation-name: hideReplyAnimation;
  animation-duration: 1.05s;
  animation-iteration-count: 1;
}
@keyframes hideReplyAnimation {
  from {
    max-height: 100vh;
  }
  to {
    max-height: 0vh;
    background-color: rgba(0, 0, 0, 1);
  }
}

@keyframes gearAnimation {
  to {
    transform: rotate(360deg);
    /* text-shadow: 0px 0px 15px rgba(62, 166, 255, 1),
      0px 0px 15px rgba(62, 166, 255, 1); */
  }
}
/* ################## M E D I A   Q U E R I E S ################## */
@media screen and (max-width: 700px) {
  .header-btns {
    gap: 0.5em;
  }
  .homepage-post {
    max-height: 250px;
  }
  .mini-defaultPic {
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .plus {
    font-size: 2.5rem;
  }
  .gear {
    font-size: 2rem;
  }
  .page-body {
    padding-left: 3%;
    padding-right: 3%;
  }
  .profile-header {
    display: "flex";
    flex-direction: "column";
    align-items: center;
  }
  .profile-username {
    text-align: center;
  }
  .header {
    font-size: 0.7rem;
  }
  .none {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.15s;
  }
  .homepage-header-text {
    font-size: 8vw;
  }
  .profile-jumbotron {
    display: flex;
    flex-direction: column-reverse;
  }
  .edit-defaultPic {
    display: flex;
    gap: 2em;
    align-items: center;
    margin-bottom: 2em;
    flex-direction: column;
  }
  .cover-picture {
    height: 400px;
    max-width: 100vw;
    object-fit: cover;
  }
  .notifications {
    height: 50vh;
    width: 80vw;
    left: 10vw;
    top: 10vh;
  }
  .notification {
    width: 80vw;
    left: 10vw;
  }
  .profile-picture {
    height: 125px;
    width: 125px;
    object-fit: cover;
    border-radius: 5em;
  }
  .profile .profile-picture {
    margin: -5em auto 0 auto;
  }

  .footer {
    padding: 2em 0;
    text-align: center;
  }
  .post-text {
    padding: 0.5em 1em;
  }
  .comment-text {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
  }
  .content-header-username {
    padding: 0;
  }
  .post-title {
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 1em 1em 0em 0.8em;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .hide-small-view {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .header-btns {
    gap: 2em;
  }
  .mini-defaultPic {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .homepage-post {
    max-height: 350px;
  }
  .plus {
    font-size: 1.75rem;
  }
  .gear {
    font-size: 1.75rem;
  }
  .hide-big-view {
    display: none;
  }
  .post-text {
    padding: 0.5em 1em;
  }
  .comment-text {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
  }
  .content-header-username {
    padding: 0;
  }
  .post-title {
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 1em 1em 0em 0.8em;
    font-size: 1.25rem;
    font-weight: bold;
  }
  /* ######################################################### */
  .page-body {
    padding-left: 10em;
    padding-right: 10em;
  }
  .showNav {
    display: none;
  }
  .homepage-header-text {
    font-size: 4vw;
  }
  .profile-header {
    margin-left: 0;
    display: flex;
  }
  .profile-header .profile-username {
    margin: 0;
  }
  .profile-picture {
    height: 125px;
    width: 125px;
    object-fit: cover;
    border-radius: 5em;
  }
  .profile .profile-picture {
    margin: -5em 0 0 0;
  }
  .profile-username {
    margin: 2em 0 1.5em 5em;
  }
  .edit-defaultPic {
    display: flex;
    gap: 2em;
    align-items: center;
    margin-bottom: 1em;
    flex-direction: column;
  }
  .cover-picture {
    height: 400px;
    min-width: 100vw;
    object-fit: cover;
  }
  .notifications {
    height: 50vh;
    width: 40vw;
    max-width: 400px;
    margin-right: 1em;
    /* left: 30vw; */
    right: 5vw;
    top: 20vh;
  }
  .notification {
    width: 40vw;
    max-width: 400px;
    margin-right: 1em;
    right: 5vw;
    top: 20vh;
  }
  .header-buttons {
    align-items: center;
  }
  .footer {
    padding: 2em 15em;
    display: flex;
    justify-content: center;
    gap: 10em;
  }
}
/* ################################# */
.link,
button,
.settings-link {
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
}
.link,
.settings-link {
  color: rgba(0, 0, 0, 0.5);
}
.create .link {
  color: rgba(255, 255, 255, 0.8);
}
.settings-link:hover {
  /* color: rgb(62, 166, 255); */
  color: rgba(0, 0, 0, 1);
  transition: 0.1s;
}
.logLink {
  color: rgba(255, 255, 255, 0.8);
}
button {
  color: rgba(0, 0, 0, 0.8);
}
.save-cancel-edit-profile button[disabled] {
  font-weight: bold;
  color: rgb(255, 113, 62);
}
.active {
  color: steelblue;
}
.login-header-btns {
  display: flex;
  gap: 1.5em;
}
.header-btns {
  display: flex;
  align-items: center;
}
.hidden {
  display: none;
}
.profile-details {
  color: white;
  font-size: 1rem;
  background: rgb(32, 32, 32);
}

/* Quill */
.quill .ql-snow .ql-stroke,
.ql-fill {
  stroke: rgba(0, 0, 0, 0.6);
}
.ql-snow .ql-picker {
  color: rgba(0, 0, 0, 0.6);
}
.ql-snow .ql-picker-label::before {
  color: rgba(0, 0, 0, 0.6);
}
.ql-container.ql-snow {
  height: 150px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ql-toolbar.ql-snow {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
p img {
  max-width: 100%;
}
iframe {
  max-width: 100%;
}

/* N A V B A R */
.nav-menu span {
  cursor: pointer;
  font-size: 1.5rem;
}

/* CRED */
.cred-header {
  margin: 1em 0 1em 0;
}
.cred-submit {
  margin-top: 1.5em;
}
.error-box-container {
  color: red;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  font-size: 1rem;
  width: 100vw;
  left: 0;
  animation-name: showerror;
  animation-duration: 8s;
  animation-iteration-count: 1;
  opacity: 0%;
}
@keyframes showerror {
  from {
    opacity: 100%;
  }
  to {
    opacity: 100%;
  }
}
.error-box {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 1em 2em;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.content-header p {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  align-self: center;
}
.view-post-btn {
  display: block;
  margin: auto;
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5em 0;
}
.view-post-btn:hover {
  color: black;
}
header .link {
  /* font-size: 0.8rem; */
}
.settings-link {
  /* font-size: 0.8rem; */
}
.homepage-post .post-text {
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(51, 51, 51, 0),
    rgba(51, 51, 51, 1)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}
.user-link-header:hover {
  text-decoration: underline white;
}
/* prevent click events on post previews */
.homepage .post-container iframe {
  pointer-events: none;
}
.homepage .post-container a {
  pointer-events: none;
}
@media screen and (min-width: 1000px) {
  .page-body {
    padding-left: 30%;
    padding-right: 30%;
  }
}
.ql-editor {
  font-size: 16px;
}
input {
  border: 1px solid rgba(0, 0, 0, 0.7);
}
.new-class {
  color: "green";
}
